@import "reset.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  background-color: var(--main-background);
  color: var(--color-text);
}

.dark-theme {
  --color-primary: #B0AEAC;
  --color-secondary: #051d27;
  --color-secondary-dark: #0d303f;
  --color-primary-dark: #f2f2f2;
  --btn-secondary-dark: #2B283A;
  --border-color: #2B283A;
  --color-text: #f2f2f2;
  --nav-background: #2B283A;
  --main-background: #1b1b1b;

  
}

.light-theme {
  --color-primary: #384A5D;
  --color-secondary: #F6F4F4;
  --color-secondary-dark: #cec7c7;
  --color-primary-dark: #2b4c63;
  --btn-secondary-dark: #f2f2f2;
  --border-color: #b8b6b6;
  --color-text: #2B283A;
  --nav-background: #384A5D;
  --main-background: #f5f4f4;
}
