@import "reset.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #35526d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 50px;

  font-size: 1.15rem;
  color: #e4e1e1;
}

.nav__logo {
  font-weight: 700;
  /* color: #333; */

  display: flex;
  align-items: center;
  gap: 8px;
}

.nav__logo-img {
  font-size: 1.75rem;
}

.nav__logo-name {
  font-size: 1.15rem;
}

.nav__actions-btn {
  padding: 0.25rem 0.75rem;
  border: none;
  border-radius: 6px;
  background-color: #e4e1e1;
  color: #35526d;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: background-color 0.3s ease;
}

.nav__actions-btn:hover {
  background-color: #cec7c7;
}